*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #67246872;
    display: flex;
}

#part1{
    height: 100%;
    width: 26%;
}

#part2{
    height: 100%;
    width: 67%;
    background-color: rgb(212, 255, 0);
    background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: #936b6b6b;
  
}

#part3{
    height: 100%;
    width: 7%;
}

#text-div{
    height: 300px; 
    position: absolute;
    width: 400px;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
}

#text-div>h1{
    font-family: monument;
    font-size: 95px;
    font-weight: 1000;
    line-height: 70px;
    letter-spacing: 12px;
    text-transform: uppercase;
    color: #fff;
}

#small-img-div{
    background-image: url(https://plus.unsplash.com/premium_photo-1669951867704-a78fd21fbbd2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    height: 400px;
    width:  300px;
    position: absolute;
    top: 40%;
    right: 7%;
}

#overlay-in{
    height: 100%;
    width: 100%;
    background-color: #936b6b6b;
  
}

#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    right: -24%;
    top: 50%;
}

#vertical-text h1{
    font-size: 100px;
    font-family: monument;
    font-weight: 1500;
    letter-spacing: 25px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    text-transform: uppercase;
}

#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    left: 10%;
    top: 5%;
}

#nav img{
    height: 60px;
}


#nav h5{
    font-size: 35px;
    font-family: gilroy;
    color: #fff;
}